setuptools>=68.0.0
wheel>=0.40.0
numpy>=1.21.0
Pillow>=9.0.0
paddlepaddle
paddleocr
fastapi>=0.108.0
uvicorn>=0.30.0
python-multipart>=0.0.9
opencv-python>=4.9.0.80
python-dotenv>=1.0.1
requests>=2.31.0
